.header {
    background-color:  #F2F2F2;
    padding: 44px 0px 45px 0px;

   
}
.header__nav-list {
    @include reset-list;
    display: flex;
}
.header__nav {
    margin-left: auto;
}
.header__item {
   padding: 0 32px;
}
.header__item:last-child {
    padding: 0;
}
.header__item-link {
    @include reset-link;
    color: $link-color;
    border-bottom: 3px solid transparent;

    &:hover {
        border-bottom: 3px solid #000;
    }

    @media only screen and (max-width: 1024px) {
        padding: 0 26px;
    }

    @media only screen and (max-width: 768px) {
        display: none;
    }
    @media only screen and (max-width: 425px) {
        display: none;
    }
}
.header__logo {
    display: block;

    
    @media only screen and (max-width: 1024px) {
        width: 210px;
        height: 24px;
    }
    
    @media only screen and (max-width: 768px) {
        width: 180px;
        height: 20px;
    }

    @media only screen and (max-width: 425px) {
        width: 140px;
        height: 15px;
    }
}
.header__container {
    display: flex;
    align-items: center;
}
.header__btn {
    display: none;

    @media only screen and (max-width: 768px) {
        display: block;
        background-color: #f00;
    }
}