.main-btn {
    padding: 0;
    display: block;
    background-color: $accent;
    padding: 15px 31px;
    color: $white;
    font-family: 'Fraunces','Arial',sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    text-align: center;
    border-color: $accent;
    border-radius: 6px;
}